#root
/vendor/*
/tests/.env.testing
/.phpunit.cache/
phpunit.xml
composer.lock
codeception.yml
/.deptrac.cache
_output
node_modules
package-lock.json
wp
.idea

# temporary
/bin/change-packages

# repos
/src/Snicco/*/*/codeception.yml
/src/Snicco/*/*/vendor
/src/Snicco/*/*/composer.lock
/src/Snicco/*/*/phpunit.xml
/src/Snicco/*/*/tests/_output/*

