#root
/vendor/*
/tests/.env.testing
/.phpunit.cache/
phpunit.xml
composer.lock
codeception.yml
/.deptrac.cache
_output

# repos
/src/Snicco/*/*/codeception.yml
/src/Snicco/*/*/vendor
/src/Snicco/*/*/composer.lock
/src/Snicco/*/*/phpunit.xml
/src/Snicco/*/*/tests/_output/*

