name: Conventional Commits
on:
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - master

jobs:

  lint_commits:
    name: Lint commits
    runs-on: ubuntu-latest
    steps:
      # see: https://github.com/conventional-changelog/commitlint/issues/586#issuecomment-663571375
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          persist-credentials: false
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'

      - name: run commitlint
        # todo: decide if we switch to npm ci, requires locking package.json
        run: |
          FIRST_COMMIT_SHA=$(curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" ${{ github.event.pull_request.commits_url }} | jq -r '.[0].sha')
          npm install 
          npx commitlint --from $FIRST_COMMIT_SHA^
